*.key filter=git-crypt diff=git-crypt
*.jpg filter=git-crypt diff=git-crypt
*.png filter=git-crypt diff=git-crypt
images/* filter=git-crypt diff=git-crypt
images/cards/* filter=git-crypt diff=git-crypt
images/tokens/* filter=git-crypt diff=git-crypt
images/wonders/* filter=git-crypt diff=git-crypt