* { margin: 0; padding: 0; }

body { 
	background: #ccc;
	font-family: 'Helvetica', Arial, sans-serif;
}

body > a:last-child {
	overflow: hidden;
	height: 0;
	display: block;
}

#container {
	margin: 0 auto; 
	width: 1200px;
	background: #f2f2f2; 
	margin-top: 20px; 
}

#pregame {
	padding: 20px;
	background: #f2f2f2;
	margin: 20px auto 0;
	width: 600px;
	box-shadow: 1px 1px 5px #444;
	border-radius: 4px;
	/*display: none;*/
}

	#pregame h1 { 
		text-align: center;
		margin-bottom: 20px;
		text-shadow: 0px 2px 3px #aaa;
	}

	#lobby { overflow: auto; }

	#nickname { margin-bottom: 10px; }

	#lobby .column {
		border: 1px solid black;
		padding: 5px;
		float: left;
		width: 275px;
	}

		#lobby .column.left { margin-right: 25px; }

	#lobby td:nth-child(odd) { text-align: right; }

	#lobby td { padding: 3px; }

	#lobby input[type=range] {
		position: relative; 
		top: 3px; 
		margin-right: 3px;
	}

	#opengames { padding-left: 20px; }

	#waiting {
		display: none;
	}

	#waiting ul {
		padding-left: 20px;
	}

#game { 
	display: none;
	overflow: hidden;
}

	#myboard {
		padding: 10px;
		border: 3px solid #aaa;
		border-bottom: 0;
		width: 780px;
		height: 130px;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -400px;
		background: white;
	}

		#myboard > div {
			float: left;
			width: 230px;
		}

	#hand {
		width: 980px;
		height: 405px;
		padding: 10px;
		/*background: #ddd;*/
		margin: 75px auto;
		position: relative;
	}

		.card {
			float: left;
			width: 190px;
			margin-left: -75px;
			height: 290px;
			padding: 5px;
			background: white;
			border: 2px solid black;
			position: relative;
			box-shadow: -2px 2px 7px #888;
			z-index: 1;
			-webkit-transition: bottom .1s linear;
		}

		.card:hover {
			bottom: 25px;
			-webkit-transition: bottom .1s linear;
		}

		.card.selected { 
			bottom: 25px;
			/*z-index: 2;*/
		}

		.card.highlighted {
			background: #ffffaa; 
		}

		.card h1 { text-align: center; font-size: 24px; }

		.card .options {
			position: absolute;
			bottom: 5px;
			left: 5px;
		}

		.card:first-child {
			margin-left: 0!important;
		}

		#resource_wrapper {
			width: 100px;
		}

		#lastplayed {
			width: 200px;
		}

			#lastplayed ul {
				padding-left: 20px;
			}